
.formSection {
    margin: 0 auto;
    padding: 140px 16px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__title {
            text-align: center;
            margin-bottom: 47px;
        }
    }
}

@media screen and (min-width: $tablet) {
    .formSection {
        padding: 140px 32px 100px;
    }
}

@media screen and (min-width: $tabletL) {
    .formSection {
        padding: 140px 60px 100px;
    }
}

@media screen and (min-width: $desktopL) {
    .formSection {
        padding: 140px 0px 100px;
    }
}