.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 5px;

    &__logo {
        width: 104px;
        height: 26px;
    }

    &__buttonsSection {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: $mobile) {
    .header {
        padding: 13px 16px;
    }
}

@media screen and (min-width: $tablet) {
    .header {
        padding: 13px 32px;
        &__logo {
            margin-right: 14px;
        }
    }
}

@media screen and (min-width: $desktop) {
    .header {
        padding: 13px 60px;
    }
}

@media screen and (min-width: $desktopL) {
    .header {
        max-width: 1170px;
        padding: 13px 0px;
    }
}