$primary: #F4E041;
$secondary: #00BDD3;
$bgColor: #F8F8F8;
$primary_hover: #FFE302;
$disabled: #B4B4B4;
$error: #CB3D40;
$inputBorder: #D0CFCF;
$text: #7E7E7E;
$denceText: rgba(0, 0, 0, 0.87);
$promoText: #FFFFFF;

$mobile: 360px;
$tablet: 768px;
$tabletL: 992px;
$desktop: 1024px;
$desktopL: 1170px;

