$primary: #F4E041;
$secondary: #00BDD3;
$bgColor: #E5E5E5;
$primary_hover: #FFE302;
$disabled: #B4B4B4;
$error: #CB3D40;
$inputBorder: #D0CFCF;
$text: #7E7E7E;
$denceText: rgba(0, 0, 0, 0.87);

$mobile: 361px;
$tablet: 769px;
$desktop: 1025px;

